<%- include('../partials/header') %>
<h1>Admin Brands Management</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% brands.forEach(brand => { %>
        <tr>
            <td><%= brand.id %></td>
            <td><%= brand.name %></td>
            <td>
                <a href="/admin/brands/edit/<%= brand.id %>">Edit</a>
                <a href="/admin/brands/delete/<%= brand.id %>">Delete</a>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer') %>
