<%- include('../partials/header') %>
<h1>Admin Categories Management</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach(category => { %>
        <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td>
                <a href="/admin/categories/edit/<%= category.id %>">Edit</a>
                <a href="/admin/categories/delete/<%= category.id %>">Delete</a>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer') %>
