<%- include('../partials/header') %>
<h1>Admin Products Management</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product => { %>
        <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.unitprice %></td>
            <td>
                <a href="/admin/products/edit/<%= product.id %>">Edit</a>
                <a href="/admin/products/delete/<%= product.id %>">Delete</a>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer') %>
